<div class="feed">

    {{ content }}

    <ul class="post-list">
      {% for post in site.posts %}
      {% if post.public != 1  %}

        <li class="fl w-third-ns w-100 w-50-m ph3">
          <a href="{{ post.url | relative_url }}"><div class="relative" style="height: 450px; background-color:#ECEAE7;">
            <div class="bg-center cover" style="background-image: url('{{ post.thumbnail }}'); padding-bottom:100%; width:100%;">
            </div>
            <div class="absolute bottom-2 bg-white pv3 ph4 mh4">
              <h2 style="font-family: 'Inconsolata', monospace;" class="mb1">
                <a class="f5 lh-title post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h2>
            </div>
          </div>
        </a>
        </li>
      {% endif %}
      {% endfor %}
    </ul>

</div>
