
<footer class="fl w-100 tc mv5">


  <div style="font-family: 'Inconsolata', monospace;" class="b f6-ns f6-s ph6-l ph5-m ph4 ttu tracked mb3">Follow us on Instagram <a href="https://www.instagram.com/theinnbox/">@TheInnbox</a></div>
  <div class="animated fadeIn" id="instafeed"></div>

  <img src="/images/logo2.svg" width="40" height="40" class="mb5 mt5 mb3-ns footerlogo">
  <div style="font-family: 'Inconsolata', monospace;" class="f7-ns f6-s ph6-l ph5-m ph4 ttu tracked mb3 light-silver">
  Safe Travels + See You Soon!
  </div>

</footer>

<!--
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>-->
