<div class="pb3 inconsolata" style="max-width: 650px; margin: auto;">
  <p class="f7 di mr4"><b>By</b>
    {% if page.author.first %}
      {% for author in page.author %}
        <a href="https://www.instagram.com/{{ page.author_ig[forloop.index0] }}" target="_blank">
          {{ author }}
        </a>
        {% if forloop.last == false %}
          &
        {% endif %}
      {% endfor %}
    {% else %}
    <a href="https://www.instagram.com/{{ page.author_ig }}" target="_blank">
      {{ page.author }}
    </a>
    {% endif %}
  </p>
</div>