<div class="preview-container">

<div class="fl w-50-l w-50-m w-100 pr4-l pr3-m ph0">

  <div class="column-container">

  <div class="orderA">
    <img src="/images/3.jpg" class="animated slideInLeft">
    <p style="font-family: 'Inconsolata', monospace;" class="i f6 ma0 mt1">Marfa, Texas</p>
  </div>
  <div class="pa4 mv4-l mv0 orderB">
    <p style="font-family: 'Inconsolata', monospace;" class="b">Never More Than $300 Night.</p>
    <p style="font-family: 'Inconsolata', monospace;" class="lh-title">Sure, we could tell you all about <a href="http://www.caladivolpe.com/" class="link underline black hover-red">the hotel with the Olympic-sized saltwater pool and vanities made of Sardinian marble</a>, but how many of us will actually go there? We cap our recommendations on where to stay at $300, and offer options at various price points below that. Finding cool places for a cool price is literally what makes this fun for us.</p>
  </div>
  <div class="orderC">
    <img src="/images/4.jpg" class="animated slideInLeft">
    <p style="font-family: 'Inconsolata', monospace;" class="i f6 ma0 mt1">Lantau Island, Hong Kong</p>
  </div>
  <div class="pa4 mt3-l mv0 orderD">
    <p style="font-family: 'Inconsolata', monospace;" class="b">Inclusivity Matters.</p>
    <p style="font-family: 'Inconsolata', monospace;" class="lh-title">We believe everyone deserves to feel safe and comfortable on their travels. We take into the account the physical accessibility of spaces we recommend, as well as the diversity of reviewers for vacation rentals such as Airbnb.</p>
  </div>

</div>

</div>

<div class="fl w-50-l w-50-m w-100 pl4-l pl3-m ph0">
  <div class="pa4 mt3-l mb4-l mv0">
    <p style="font-family: 'Inconsolata', monospace;" class="b">We got you, Garfield.</p>
    <p style="font-family: 'Inconsolata', monospace;" class="lh-title">The InnBox arrives when you need it most: Monday mornings. We’ll never email you more than once a week, and we’ll never send you spam.</p>
  </div>
  <img src="/images/2.PNG" class="animated slideInRight">
  <p style="font-family: 'Inconsolata', monospace;" class="i f6 ma0 mt1 tr">New Orleans, Louisiana</p>
  <div class="pa4 mv4-l mv0">
    <p style="font-family: 'Inconsolata', monospace;" class="b">We <3 Small Businesses.</p>
    <p style="font-family: 'Inconsolata', monospace;" class="lh-title">We try to highlight independently owned and operated hotels, inns, hostels, and airbnbs while avoiding big box chains (unless they like <i>really, really</i> deserve it — but trust, the bar is high my friends).</p>
  </div>
  <img src="/images/1.PNG" class="animated slideInRight">
  <p style="font-family: 'Inconsolata', monospace;" class="i f6 ma0 mt1 tr">Buenos Aires, Argentina</p>
</div>

</div>
